body {
	background: #2c293c;
	color: white;
	margin: 0;
	padding: 0;
}

.container {
	background: #161828;
	position: relative;
	margin: 50px auto;
	padding: 50px 20px;
	width: calc(80% - 40px);
	max-width: 800px;
	border-radius: 50px;
}

.heading-box {
	display: grid;
	place-items: center;

	height: 100px;
	padding: 50px 0;
}

.meal-container {

	/* margin: 20% 0;
	width: 80%; */
}

h1, h2 {
	font-family: "Century Gothic";
}

h1 {
	margin: 0;
	padding: 0;
}

img {
	width: 300px;
}

.row {
	display: flex;
	font-family: Calibri;
	gap: 20px;
	/* padding: 0 20px; */
}

.youtube-row {
	display: grid;
	place-items: center;
}

button {
	background: #236bfe;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
}

button:disabled {
	background: grey;
	cursor: not-allowed;
}

.instructions {
	text-align: justify;
}

.footer {
	text-align: center;
	font-family: Calibri;
	font-size: 90%;
}

a {
	color: cornflowerblue;
	font-weight: bold;
	text-decoration: none;
}